<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>


<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/cold.png" *ngIf="weatherData.current.temperature <= 15">
    <img src="../assets/pleasant.jpg" *ngIf="weatherData.current.temperature > 15 && weatherData.current.temperature <= 30">
    <img src="../assets/hot.png" *ngIf="weatherData.current.temperature > 30">

    <div class="weather-data">
      <div class="location">
        <div class="city">{{weatherData.location.name}}</div>
        <div class="city-more">{{weatherData.location.region}}, {{weatherData.location.country}}</div>
      </div>
      <div class="temperature">{{ weatherData.current.temperature | number: '1.0-0' }}°C</div>
    </div>
  </div>

  <div class="lower-data">

    <div class="more-info-label">More Information</div>

    <div class="more-info-container">

      <div class="row">
        <div class="each-item">
          <div class="param-value">{{ weatherData.current.feelslike | number: '1.0-0' }}°C</div>
          <div class="param-name">Feels-Like</div>
        </div>

        <div class="each-item">
          <div class="param-value">{{weatherData.current.wind_speed}} KM/H</div>
          <div class="param-name">Wind-Speed</div>
        </div>
      </div>

      <div class="row">
        <div class="each-item">
          <div class="param-value">{{ weatherData.current.humidity}}%</div>
          <div class="param-name">Humidity</div>
        </div>

        <div class="each-item">
          <div class="param-value">{{weatherData.current.pressure}} MB</div>
          <div class="param-name">Pressure</div>
        </div>
      </div>



    </div>

  </div>
</div>







<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/cold.png" *ngIf="14 <= 15">
    <img src="../assets/hot.png" *ngIf="14 > 15">

    <div class="weather-data">
      <div class="location">Kolkata</div>
      <div class="temperature">{{ 14.40 | number: '1.0-0' }} °C</div>
    </div>
  </div>

  <div class="lower-data">

    <div class="more-info-label">
      More Information
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min_temp_scale.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          19°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max_temp_scale.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          29°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11 km/h
        </div>
      </div>

    </div>

  </div>
</div> -->

<router-outlet></router-outlet>